In [1]:
! mkdir htmltest

In [2]:
%%writefile ./htmltest/HTML_example.html 
<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>이것은 HTML 예제</title>
 </head>
 <body>
  <h1>출간된 책 정보</h1>
  <p id="book_title">이해가 쏙쏙 되는 파이썬</p>
  <p id="author">홍길동</p>
  <p id="publisher">위키북스 출판사</p>
  <p id="year">2018</p>
 </body>
</html>

Writing ./htmltest/HTML_example.html

In [3]:
%%writefile ./htmltest/HTML_example2.html 
<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>이것은 HTML 예제</title>
 </head>
 <body>
  <h1>출간된 책 정보</h1>
  <p>이해가 쏙쏙 되는 파이썬</p>
  <p>홍길동</p>
  <p>위키북스 출판사</p>
  <p>2018</p>
 </body>
</html>

Writing ./htmltest/HTML_example2.html

#웹 페이지의 HTML 소스 갖고 오기

In [5]:
import requests

res = requests.get("https://www.google.co.kr")
res

In [11]:
res.text[0:300]

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="ko"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="fyMEH04qW8WJR4BW'

In [7]:
import requests

html = requests.get("https://www.google.co.kr").text
html[0:300]

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="ko"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="IojdjcZR5XDCiN9f'

In [8]:
type(res), type(html)

(requests.models.Response, str)

#HTML 소스코드를 분석하고 처리하기

In [12]:
from bs4 import BeautifulSoup

# 테스트용 html 코드
html = """
<html><body><div><span>
<a href=http://www.naver.com>naver</a>
<a href=https://www.google.com>google</a>
<a href=http://www.daum.net/>daum</a>
</span></div></body></html>
""" 

# BeautifulSoup를 이용해 HTML 소스를 파싱
soup = BeautifulSoup(html, 'lxml')    #lxml 붙어있으면 html 외에도 다 파싱해줌
soup

<html><body><div><span>
<a href="http://www.naver.com">naver</a>
<a href="https://www.google.com">google</a>
<a href="http://www.daum.net/">daum</a>
</span></div></body></html>

In [13]:
print(soup.prettify())

<html>
 <body>
  <div>
   <span>
    <a href="http://www.naver.com">
     naver
    </a>
    <a href="https://www.google.com">
     google
    </a>
    <a href="http://www.daum.net/">
     daum
    </a>
   </span>
  </div>
 </body>
</html>

In [14]:
soup.find('a')

In [15]:
soup.find_all('a')

[<a href="http://www.naver.com">naver</a>,
 <a href="https://www.google.com">google</a>,
 <a href="http://www.daum.net/">daum</a>]

In [16]:
soup.find('a').get_text()

'naver'

In [17]:
from bs4 import BeautifulSoup

# 테스트용 HTML 코드
html2 = """
<html>
 <head>
  <title>작품과 작가 모음</title>
 </head>
 <body>
  <h1>책 정보</h1>
  <p class="book_title">토지</p>
  <p class="author">박경리</p>
  
  <p class="book_title">태백산맥</p>
  <p class="author">조정래</p>

  <p class="book_title">감옥으로부터의 사색</p>
  <p class="author">신영복</p>
 </body>
</html>
""" 

soup2 = BeautifulSoup(html2, "lxml")

In [19]:
soup2.find('title')

In [20]:
soup2.find('p')

In [21]:
soup2.find_all('p')

[<p class="book_title">토지</p>,
 <p class="author">박경리</p>,
 <p class="book_title">태백산맥</p>,
 <p class="author">조정래</p>,
 <p class="book_title">감옥으로부터의 사색</p>,
 <p class="author">신영복</p>]

In [22]:
soup2.findAll('p','book_title')

[<p class="book_title">토지</p>,
 <p class="book_title">태백산맥</p>,
 <p class="book_title">감옥으로부터의 사색</p>]

In [24]:
soup2 = BeautifulSoup(html2, 'lxml')

book_titles = soup2.findAll('p','book_title')
authors = soup2.findAll('p', 'author')

for book_title, author in zip(book_titles, authors):
    print(' - {} / {} '.format(book_title.get_text(), author.get_text()))

 - 토지 / 박경리
 - 태백산맥 / 조정래
 - 감옥으로부터의 사색 / 신영복

In [25]:
import requests  
from bs4 import BeautifulSoup 

url = "https://www.alexa.com/topsites/countries/KR"

html_website_ranking = requests.get(url).text
soup_website_ranking = BeautifulSoup(html_website_ranking, "lxml")

# p 태그의 요소 안에서 a 태그의 요소를 찾음
website_ranking = soup_website_ranking.select('p a')

In [26]:
website_ranking = soup_website_ranking.find_all('div')
len(website_ranking)

501

In [27]:
website_ranking = soup_website_ranking.find_all('div', 'tr site-listing')
len(website_ranking)   #class 명 더블클릭하면 긁어올때 편함

50

In [29]:
tmp = website_ranking[0]
tmp

<div class="tr site-listing">
<div class="td number">1</div>
<div class="td DescriptionCell">
<p class="">
<a href="/siteinfo/naver.com">Naver.com</a>
</p>
<div class="description">
 <span class="remainder"></span>
</div>
</div>
<div class="td right"><p>14:11</p></div>
<div class="td right"><p>8.46</p></div>
<div class="td right"><p>9.00%</p></div>
<div class="td right"><p>75,421</p></div>
</div>

In [30]:
tmp1 = tmp.find('div', 'td number')
tmp1

In [31]:
tmp2 = tmp.find('a')
tmp2

In [32]:
rank = tmp1.get_text()
rank

'1'

In [33]:
site = tmp2.get_text()
site

'Naver.com'

In [34]:
link = tmp2['href']
link

'/siteinfo/naver.com'

In [35]:
Rank = []; Site = []; Link = []
print("Top sites in South Korea\n")
for i in range(len(website_ranking)):
    tmp = website_ranking[i]
    tmp1 = tmp.find('div', 'td number')
    tmp2 = tmp.find('a')
    rank = tmp1.get_text()
    site = tmp2.get_text()
    link = tmp2['href']
    print("{}위. {} ({})".format(rank, site, link))
    
    Rank.append(rank)
    Site.append(site)
    Link.append(link)

Top sites in South Korea

1위. Naver.com (/siteinfo/naver.com)
2위. Youtube.com (/siteinfo/youtube.com)
3위. Google.co.kr (/siteinfo/google.co.kr)
4위. Google.com (/siteinfo/google.com)
5위. Daum.net (/siteinfo/daum.net)
6위. Tistory.com (/siteinfo/tistory.com)
7위. Namu.wiki (/siteinfo/namu.wiki)
8위. Facebook.com (/siteinfo/facebook.com)
9위. Dcinside.com (/siteinfo/dcinside.com)
10위. Wikipedia.org (/siteinfo/wikipedia.org)
11위. Gmarket.co.kr (/siteinfo/gmarket.co.kr)
12위. Twitter.com (/siteinfo/twitter.com)
13위. Ruliweb.com (/siteinfo/ruliweb.com)
14위. Blog.me (/siteinfo/blog.me)
15위. Instagram.com (/siteinfo/instagram.com)
16위. Twitch.tv (/siteinfo/twitch.tv)
17위. 11st.co.kr (/siteinfo/11st.co.kr)
18위. Auction.co.kr (/siteinfo/auction.co.kr)
19위. Baidu.com (/siteinfo/baidu.com)
20위. Inven.co.kr (/siteinfo/inven.co.kr)
21위. Donga.com (/siteinfo/donga.com)
22위. Qq.com (/siteinfo/qq.com)
23위. Tmall.com (/siteinfo/tmall.com)
24위. Amazon.com (/siteinfo/amazon.com)
25위. Taobao.com (/siteinfo/taobao.com)
26위. Marumaru.in (/siteinfo/marumaru.in)
27위. Kakao.com (/siteinfo/kakao.com)
28위. Torrenthaja.com (/siteinfo/torrenthaja.com)
29위. Coupang.com (/siteinfo/coupang.com)
30위. T.co (/siteinfo/t.co)
31위. Afreecatv.com (/siteinfo/afreecatv.com)
32위. Wasabisyrup.com (/siteinfo/wasabisyrup.com)
33위. Nate.com (/siteinfo/nate.com)
34위. Etoland.co.kr (/siteinfo/etoland.co.kr)
35위. Netflix.com (/siteinfo/netflix.com)
36위. Clien.net (/siteinfo/clien.net)
37위. Nicovideo.jp (/siteinfo/nicovideo.jp)
38위. Danawa.com (/siteinfo/danawa.com)
39위. Interpark.com (/siteinfo/interpark.com)
40위. Sohu.com (/siteinfo/sohu.com)
41위. Ilbe.com (/siteinfo/ilbe.com)
42위. Blogspot.com (/siteinfo/blogspot.com)
43위. Microsoft.com (/siteinfo/microsoft.com)
44위. Tumblr.com (/siteinfo/tumblr.com)
45위. Apple.com (/siteinfo/apple.com)
46위. Torrentmap.com (/siteinfo/torrentmap.com)
47위. Nexon.com (/siteinfo/nexon.com)
48위. Wemakeprice.com (/siteinfo/wemakeprice.com)
49위. Aliexpress.com (/siteinfo/aliexpress.com)
50위. Joins.com (/siteinfo/joins.com)

In [36]:
Link[:5]

['/siteinfo/naver.com',
 '/siteinfo/youtube.com',
 '/siteinfo/google.co.kr',
 '/siteinfo/google.com',
 '/siteinfo/daum.net']

In [37]:
import pandas as pd
data = {'Rank':Rank, 'Site':Site, 'Link':Link}
df = pd.DataFrame(data)

In [38]:
df.head()

  Rank          Site                    Link
0    1     Naver.com     /siteinfo/naver.com
1    2   Youtube.com   /siteinfo/youtube.com
2    3  Google.co.kr  /siteinfo/google.co.kr
3    4    Google.com    /siteinfo/google.com
4    5      Daum.net      /siteinfo/daum.net

In [40]:
df.set_index('Rank', inplace=True)

In [41]:
df.head()

              Site                    Link
Rank
1        Naver.com     /siteinfo/naver.com
2      Youtube.com   /siteinfo/youtube.com
3     Google.co.kr  /siteinfo/google.co.kr
4       Google.com    /siteinfo/google.com
5         Daum.net      /siteinfo/daum.net

In [42]:
df.to_csv('data/top_site_50.csv', sep=',', encoding='UTF=8')